.story-container {
  margin-top: 80px;
  color: #15135f;
  min-width: 375px;
}

.heading {
  padding: 0 28px;
  font-family: Coda, cursive;
  margin: 0;
  color: #15135f;
}

ul {
  padding: 0 28px;
}
